[submodule "letstalk-frontend"]
	path = letstalk-frontend
	url = https://github.com/keithtanzihao/letstalk-frontend.git
[submodule "letstalk-backend"]
	path = letstalk-backend
	url = https://github.com/keithtanzihao/letstalk-backend.git
